# course config files
*.yaml

# gradle
.gradle/
build


# idea config
.idea

# old stages
/Number Base Converter (Java)/*
!/Number Base Converter (Java)/task/
/Number Base Converter (Java)/task/*
!/Number Base Converter (Java)/task/src
